body {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto Flex", sans-serif; */
  font-family: "Sherika";
  font-weight: 400;
  background-color: #000;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Sherika"; */
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 40px;
  line-height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
  color:#fff;
  font-weight: 600;
  letter-spacing: -0.2px;
}
h2 {
  color:#fff;
  font-size: 32px;
  line-height: 42px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 600;
  letter-spacing: -0.2px;
}
h3 {
  font-size: 28px;
  line-height: 39px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  letter-spacing: -0.2px;
}
h4 {
  font-size: 24px;
  line-height: 34px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  letter-spacing: -0.2px;
}
h5 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  letter-spacing: -0.2px;
}
h6 {
  font-size: 18px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: -0.2px;
}
.g-10 {
  gap: 10px;
}
.g-15 {
  gap: 15px;
}
button {
  background-color: transparent;
  outline: none;
}
.primary-btn.nav-link.active {
  color: #fff !important;
}
.input-group input{
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  color: #ffffffb2;
}
.input-group input::placeholder {
  opacity: 1;
  color: #ffffff66;
}
.input-group input:focus {
  color: #fff;
}
.form-control:focus {
  border-color: #6d6d6d;
  background-color: #241945;
  color: #fff;
  box-shadow: 0 0 0 0 transparent;
}
input {
  font-size: 16px;
  font-weight: 500;
}
input:focus {
  box-shadow: 0 0 0 0 transparent;
}
p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.container {
  max-width: 1350px;
}
input {
  outline: none;
}
a,
a:hover {
  text-decoration: none;
}
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-nav .nav-link.active {
  color: #e3394ad9;
}
button:focus:not(:focus-visible) {
  color: inherit !important;
  box-shadow: 0 0 0 rgba(13, 109, 253, 0);
}
.icon-bar {
  color: #fff;
  padding: 6px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: inline-block;
}
.icon-bar i {
  font-size: 22px;
}
.g-20 {
  gap: 20px;
}
.rotate-50,
.rotate-50 i {
  transform: rotate(-50deg);
}
.menu-bg {
  background: linear-gradient(to bottom, #25174c, #342169);
  border-bottom: 1px solid #242323;
}
.nav-item > a {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding: 20px 20px;
  transition: 0.5s;
  border-bottom: 3px solid transparent;
}
.nav-item .nav-link.active,
.nav-item > a:hover,
.nav-item > a:focus,
.dropdown-menu ul li a:hover {
  color: #fff;
  background: linear-gradient(
    0deg,
    rgba(118, 74, 249, 0.2) 0%,
    rgba(118, 74, 249, 0) 100%
  );
  border-color: #764af9;
}
.nav-link.dropdown-toggle.show {
  color: #764af9;
}
.color-764{
  color: #764af9;
}
.navbar-brand img {
  max-width: 275px;
  width: 100%;
  height: 56px;
}
.cursor {
  cursor: pointer;
}
.primary-btn,.tab-btn li.active {
  padding: 12px 30px;
  background: #764af9;
  border: 1px solid #ffffff33;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-4{
  display: flex;
  align-items: center;
  gap:10px;
  border: 1.5px solid #FFFFFF0D;
  background: #FFFFFF0D;
  font-size:18px;
  font-weight: 500;
  color:#fff;
  padding:6px 20px;
  border-radius: 10px;
}
 
.tab-btn li{
  color:#fff;
  padding: 12px 30px;
  cursor: pointer;
}
.primary-btn.outline {
  border-color: #764af9;
  background: #ffffff05;
}
.primary-btn.outline:after {
  display: none;
}
.primary-btn.outline:hover {
  background: #764af9;
}
.primary-btn.outline:hover:after {
  display: block;
}
.secondary-btn {
  padding: 14px 30px;
  backdrop-filter: blur(30px);
  box-shadow: -4px -6px 20px 0px #764af9b2 inset;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}
.secondary-btn img {
  width: 26px;
  height: auto;
}
.secondary-btn:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  background-image: url("../images/shape/1.png");
  height: 28px;
  width: 60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.secondary-btn.tablinks.active {
  background-color: #764af9;
}
.primary-btn:after,.tab-btn li.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -26px;
  width: 100%;
  height: 50px;
  background: lemonchiffon;
  opacity: 0.5;
  filter: blur(10px);
  border-radius: 50%;
  transition: 0.5s;
}
.primary-btn:hover {
  color: #fff;
}
.primary-btn:hover:after {
  bottom: -16px;
}
.primary-btn i {
  font-size: 18px;
  transition: 0.5s;
}
.primary-btn:hover i {
  transform: rotate(-45deg);
}
.blog-content > a{
  color: #764AF9;
  transition: 0.5s;
  font-size:18px;
  padding-top:12px;
  font-weight:500;
}
.blog-content > a:hover{
  color:#fff;
}
.blog-content > a i{
  transform: rotate(-45deg);
}
.g-30{
  gap: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.ptb-100{
  padding: 100px 0;
}
.mt-30 {
  margin-top: 30px;
}
.mt-20 {
  margin-top: 20px;
}
.badge-label {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.04);
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  box-shadow: inset 1px 2px 12px 2px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 26px;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  gap: 8px;
}
.m-20{
  margin: 20px;
}
.badge-label-sm {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.04);
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  box-shadow: inset 1px 2px 12px 2px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 26px;
  padding:6px 12px;
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing:1px;
  color: #FFFFFFB2;
  gap: 8px;
}
.color-F9{
  color:#FFFFFF99;
}
.badge-label-sm img {
  height:18px;
  width:18px;
}
.badge-label img {
  height: 22px;
  width: 22px;
}
.clip-text {
  width: 85%;
  transition: 0.5s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.btn-outline {
  border: 2px solid #ffffff33;
  padding: 8px;
  border-radius: 10px;
  background: #764af933;
}
.gradient-color {
  background: linear-gradient(90deg, #764af9 79.35%, #9b79ff 96.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.common-heading p {
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 150%;
}
.common-heading h1 {
  font-size: 56px;
  line-height: 110%;
  color: #fff;
}
.common-heading h2 {
  font-size: 40px;
  color: #fff;
  line-height: 110%;
}
.common-heading h3 {
  font-size:30px;
  color: #fff;
  line-height: 110%;
}
.common-heading h4{
  font-size: 22px;
  line-height:30px;
  color:#fff;
  font-weight: 500;
}
.long-shadow {
  position: absolute;
  width: 151px;
  height: 900px;
  background: linear-gradient(180deg, #764af9 0%, rgba(118, 74, 249, 0) 100%);
  opacity: 0.4;
  filter: blur(45px);
  z-index: -2;
}
@keyframes pulseHeightPlus {
  0% {
    height: 300px;
  }
  50% {
    height: 900px;
  }
  100% {
    height: 300px;
  }
}
@keyframes pulseHeightNegative {
  0% {
    height: 900px;
  }
  50% {
    height: 300px;
  }
  100% {
    height: 900px;
  }
}
.long-shadow-left {
  top: -32%;
  left: 17%;
  transform: rotate(-42.12deg);
  /* animation: pulseHeightPlus 4.5s ease-in-out infinite; */
}
.long-shadow-right {
  top: -32%;
  right: 17%;
  transform: rotate(42.12deg);
  /* animation: pulseHeightNegative 4.5s ease-in-out infinite; */
}
.small-shadow {
  position: absolute;
  width: 90px;
  height: 745px;
  background: linear-gradient(180deg, #764af9 0%, rgba(118, 74, 249, 0) 100%);
  opacity: 0.6;
  filter: blur(45px);
  z-index: -2;
}

.small-shadow-left {
  top: -42%;
  left: 0%;
  transform: rotate(-42.12deg);
}
.small-shadow-right {
  top: -42%;
  right: 0%;
  transform: rotate(42.12deg);
}
.line-bar {
  position: absolute;
  opacity: 0.2;
  background: linear-gradient(
    90deg,
    rgba(118, 74, 249, 0) 0%,
    #764af9 19.77%,
    #ffffff 73.92%,
    rgba(255, 255, 255, 0) 100%
  );
}
.line-bar-1 {
  height: 1px;
  width: 300px;
  left: 10%;
  bottom: 20%;
  animation: line_x 4.5s ease-in-out infinite alternate;
}
.line-bar-2 {
  height: 300px;
  width: 1px;
  left: 20%;
  top: 60%;
  animation: line_y 4.5s ease-in-out infinite alternate;
}
.line-bar-3 {
  height: 1px;
  width: 300px;
  right: 10%;
  bottom: 20%;
  animation: line_x 4.5s ease-in-out infinite alternate;
}
.line-bar-4 {
  height: 300px;
  width: 1px;
  right: 20%;
  top: 50%;
  animation: line_y 4.5s ease-in-out infinite alternate;
}
@keyframes line_x {
  0% {
    width: 50px;
  }

  100% {
    width: 300px;
  }
}
@keyframes line_y {
  0% {
    height: 50px;
  }

  100% {
    height: 300px;
  }
}
.card-1 {
  padding: 10px;
  padding-right: 18px;
  background: #ffffff08;
  backdrop-filter: blur(30px);
  border-radius: 20px;
  border: 1.5px solid #ffffff33;
  box-shadow: -4px -6px 20px 0px #764af9b2 inset;
}
.service-thumbnails img {
  border-radius: 10px 10px 0 0;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.hero-section:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/bg/bg-1.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -2;
}
.hero-section {
  padding-top: 170px;
  padding-bottom: 50px;
}
.header-area {
  position: sticky;
  left: 0;
  right: 0;
  padding: 2px 0;
  top: 0px;
  margin-bottom: -101px;
  z-index: 999;
}
.technology-highlight-area {
  /* padding: 30px; */
  /* background:#000000; */
  /* box-shadow: inset -4px -6px 20px rgba(118, 74, 249, 0.7); */
  /* backdrop-filter: blur(15px); */
  /* border-radius: 20px; */
}
/* box animation */
.common-box,
.view-box {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background-color: #764af9;
  position: absolute;
  z-index: -2;
  display: none;
}
.view-box {
  display: block;
}
.view-box-1 {
  left: -4px;
  transition: 1s;
  top: -4px;
}
.view-box-2 {
  right: -4px;
  bottom: -4px;
}
.technology-highlight-section:hover .view-box {
  opacity: 0;
}
.technology-highlight-section:hover .common-box {
  display: block;
  cursor: pointer;
}
.box {
  left: -4px;
  top: -4px;
  animation: box_line_x 4s ease-in-out 0.5s infinite alternate;
}
.box-2 {
  left: -4px;
  top: 0px;
  animation: box_line_y 4s ease-in-out 0.5s infinite alternate;
}
.box-3 {
  right: -4px;
  bottom: 0px;
  animation: box_line_y_3 4s ease-in-out 0.5s infinite alternate;
}
.box-4 {
  right: -4px;
  bottom: -4px;
  animation: box_line_x_4 4s ease-in-out 0.5s infinite alternate;
}

@keyframes box_line_y {
  0% {
    top: 0px;
    left: -4px;
  }
  100% {
    left: -4px;
    top: calc(100% - 300px);
  }
}
@keyframes box_line_y_3 {
  0% {
    bottom: 0px;
    right: -4px;
  }

  100% {
    right: -4px;
    bottom: calc(100% - 300px);
  }
}

@keyframes box_line_x {
  0% {
    top: -4px;
    left: 0px;
  }

  100% {
    left: calc(100% - 300px);
    top: -4px;
  }
}
@keyframes box_line_x_4 {
  0% {
    bottom: -4px;
    right: 0px;
  }

  100% {
    right: calc(100% - 300px);
    bottom: -4px;
  }
}
.about-section {
  padding: 120px 0;
  background-image: url(../images/bg/bg-2.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.about-thumbnails-1 {
  padding-bottom: 80px;
}
.about-thumbnails-2 {
  position: absolute;
  bottom: 0;
}
.about-thumbnails-2 img {
  max-width: 279px;
}
.custom-shadow {
  border-radius:10px;
  backdrop-filter: blur(30px);
  box-shadow: -4px -6px 20px 0px #764af9b2 inset;
}
.service-icon {
  box-shadow: 0px 4px 30px 0px #3c4be066;
  height: 64px;
  width: 64px;
  display: flex;
  background: #764af9;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 14px;
}
.service-icon img {
  height: auto;
  width: 34px;
}
.border-gradient {
  background-clip: padding-box;
  border: 1px solid transparent;
  position: relative;
}
.border-gradient:after {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.border-gradient:after {
  border-radius: 4px;
  bottom: -1px;
  content: "";
  left: -1px;
  position: absolute;
  right: -1px;
  top: -1px;
  z-index: -1;
}
.service-title {
  transform: translateY(-25px);
  position: relative;
  z-index: 99;
}
.service-title h4 {
  font-size: 24px;
  margin-top: 20px;
  color: #fff;
  font-weight: 500;
}
.service-hover-card a span i {
  font-size: 30px;
  color: #fff;
}
.service-hover-card {
  position: relative;
  border: 1.5px solid #ffffff33;
  border-radius: 10px;
  background: #1f1639;
  padding: 20px;
}
.service-hover-card:after {
  content: "";
  position: absolute;
  left: 61px; 
  top: -40px;
  height: 100%;
  opacity: 0.8;
  width: 35px;
  background: linear-gradient(180deg, #764af9 0%, rgba(118, 74, 249, 0) 100%);
  filter: blur(30px);
  transform: rotate(-42.12deg);
}
.service-hover-card:before {
  content: "";
  position: absolute;
  left: 61px;
  top: -10px;
  height: 100%;
  opacity: 0.8;
  width: 20px;
  background: linear-gradient(180deg, #764af9 0%, rgba(118, 74, 249, 0) 100%);
  filter: blur(30px);
  transform: rotate(-42.12deg);
}
.service-hover-card-cover {
  position: absolute;
  left: -5px;
  top: -4px;
  height: 104%;
  width: 104%;
  opacity: 0;
  transition: 0.5s;
}
.service-card:hover .service-hover-card-cover {
  opacity: 1;
}
.services-section {
  position: relative;
  padding-top: 120px;
}
.services-section:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-image: url(../images/bg/bg-3.webp);
  z-index: -2;
  height: 44%;
  background-size: 80% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  opacity: 0.8;
}
.social-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  transition: 0.5s;
  border-radius: 5px;
  border: 1px solid #ffffff33;
  backdrop-filter: blur(30px);
  box-shadow: -4px -6px 20px 0px #764af9b2 inset;
  background: #ffffff08;
}
.time-counter li:nth-child(even) {
  margin-top: -25px;
  font-weight: 500;
  font-size: 44px;
  color: #fff;
}
.time-value {
    display: flex;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 72px;
    font-size: 26px;
    border: 1px solid #ffffff33;
    backdrop-filter: blur(30px);
    box-shadow: -4px -6px 20px 0px #764af9b2 inset;
    background: #ffffff08;
}
.time-label{
  text-align:center;
  font-size: 16px;
}
.social-menu li a:hover {
  background: #764af9;
}
.social-menu li a i {
  color: #fff;
  font-size: 18px;
}
.footer-description p {
  font-weight: 400;
  font-size: 18px;
  color: #ffffffb2;
  max-width: 540px;
}
.footer-section {
  position: relative;
  background: #0a0518;
  margin-top: 150px;
}
.footer-section:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/shape/2.png");
  background-size: 100% 100%;
  max-width: 480px;
  max-height: 375px;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.footer-pagination ul li a i {
  font-size: 8px;
}
.footer-pagination ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffffb2;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s;
}
.footer-pagination ul li a:hover {
  color: #9774fd;
}
.footer-pagination h4 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}
.g-16 {
  gap: 16px;
}
.footer-area {
  padding-top: 80px;
  justify-content: space-between;
  padding-bottom: 60px;
}
.footer-description {
  width: 50%;
}
.footer-description::after {
  content: "";
  position: absolute;
  right:0px;
  top: 5%;
  height: 118%;
  width: 1px;
  background-image: url(../images/shape/3.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: moveDown 3s linear infinite;
}
.footer-bottom p a,
.footer-bottom ul li a {
  color: #ffffffb2;
  transition: 0.5;
}
.line-1 {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(118, 74, 249, 0) 0%,
    #764af9 19.77%,
    #ffffff 73.92%,
    rgba(255, 255, 255, 0) 100%
  );
}
.footer-bottom ul li a:hover,
.footer-bottom p a:hover {
  color: #9774fd;
}
.form-title {
  font-size: 22px;
  padding-bottom: 14px;
  font-weight: 500;
  color: #fff;
  border-bottom: 1.5px solid #ffffff33;
}
.contact-info ul li a i {
  color: #fff;
  font-size: 20px;
}
.contact-info ul li span {
  color: #ffffffb2;
}
.contact-info ul li a {
  padding: 18px 0;
  color: #fff;
  font-size: 18px;
  border-bottom: 1.5px solid #ffffff33;
}
.contact-info ul li:last-child a {
  border: none;
}
.input input,
.input textarea {
  border: none;
  border: 1.5px solid #ffffff33;
  border-radius: 8px;
  padding: 12px 30px;
  color: #fff;
  background: #ffffff08;
  font-weight: 400;
  width: 100%;
}
.input input::placeholder,
.input textarea::placeholder {
  opacity: 1;
  color: #ffffff66;
  letter-spacing: 1px;
}
.contact-section {
  padding-top: 80px;
}
.testimonial-area {
  background-image: url("../images/bg/bg-4.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 30px;
}
.rating li i {
  color: #ebbb2b;
  font-size: 20px;
}
.publisher-icon img {
  height: 56px;
  width: 56px;
  border-radius: 5px;
}
.publisher-info p {
  color: #ffffffb2;
  letter-spacing: 1px;
}
.publisher-info h5 {
  color: #fff;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 24px;
}
.testimonial-body p {
  color: #ffffffb2;
  letter-spacing: 1px;
}
.testimonial-slider .slick-dots {
  bottom: -110px;
}
.testimonial-slider .slick-dots li {
  background: #764af94d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.testimonial-slider .slick-dots li.slick-active {
  background: #764af9;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  opacity: 0;
  color: transparent;
}
.testimonial-slider-item .publisher {
  opacity: 0;
  transform: translateY(20px);
  transition: none;
}
.testimonial-slider-item.slick-active .publisher,
.tabcontent.active .team-content {
  animation: fadeInUp 1.5s ease-in-out forwards;
}
.testimonial-slider-item.slick-active .testimonial-icon {
  animation: fadeInDown 1.5s ease-in-out forwards;
}
/* Default state (before active) */
.testimonial-slider-item .rating i {
  opacity: 0;
  transform: scale(0.5);
}
/* When slick-active — animate only once */
.testimonial-slider-item.slick-active .rating i,
.tabcontent.active .team-social-menu .social-menu li {
  animation: showStarOnce 1.5s ease-out forwards;
}

/* Staggered delay for each star */
.testimonial-slider-item.slick-active .rating li:nth-child(1) i {
  animation-delay: 0s;
}
.testimonial-slider-item.slick-active .rating li:nth-child(2) i {
  animation-delay: 0.2s;
}
.testimonial-slider-item.slick-active .rating li:nth-child(3) i {
  animation-delay: 0.4s;
}
.testimonial-slider-item.slick-active .rating li:nth-child(4) i {
  animation-delay: 0.6s;
}
.testimonial-slider-item.slick-active .rating li:nth-child(5) i {
  animation-delay: 0.8s;
}

.tabcontent.active .team-social-menu .social-menu li:nth-child(1) {
  animation-delay: 0s;
}
.tabcontent.active .team-social-menu .social-menu li:nth-child(2) i {
  animation-delay: 0.3s;
}
.tabcontent.active .team-social-menu .social-menu li:nth-child(3) i {
  animation-delay: 0.5s;
}
.tabcontent.active .team-social-menu .social-menu li:nth-child(4) i {
  animation-delay: 0.7s;
}
.tabcontent.active .team-social-menu .social-menu li:nth-child(5) i {
  animation-delay: 0.9s;
}

/* Keyframes */
@keyframes showStarOnce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.testimonial-section {
  padding-top:120px;
}
.bar-shape{
  position: relative;
}
.bar-shape:after {
  content: "";
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  z-index: -2;
  margin: 0 auto;
  height: 100%;
  width: 95%;
  background-image: url("../images/shape/4.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.pricing-section {
  padding-top: 150px;
}
.project-section {
  padding-top: 150px;
  background-repeat: no-repeat;
  background-image: url(../images/bg/8.png);
  background-size: 100% 20%;
  background-position: bottom center;
  padding-bottom: 100px;
}
.pricing-header:after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  z-index: -2;
  margin: 0 auto;
  height: 100%;
  width: 95%;
  background-image: url("../images/shape/5.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.pricing-card-cover,
.project-card-cover {
  background: #ffffff03;
  padding: 20px;
}
.pricing-title {
  font-weight: 500;
  font-size: 22px;
}
.pricing-icon img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.plan-feature {
  padding-top: 60px;
}
.plan-feature ul li p {
  font-size: 18px;
  letter-spacing: 1px;
}
.plan-feature ul li i {
  color: #fff;
  font-size: 18px;
}
.plan-badge {
  position: absolute;
  right: 0px;
  top: 0px;
}
.plan-badge .badge-label {
  padding: 7px 30px;
}
.hover-show {
  display: none;
}

.card-hover {
  transition: 0.5s;
  cursor: pointer;
}
.card-hover:hover {
  /* transform: translateY(-20px); */
  box-shadow: 0px 20px 70px 0px #764af980;
}
.card-hover:hover .hover-show {
  display: block;
}
.project-content h4 {
  color: #ffffff;
  font-size: 22px;
}
.project-content h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin-top: 16px;
  color: #ffffff;
}
.btn-3 {
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffffb2;
  padding: 5px 10px;
  background: #ffffff0d;
  letter-spacing: 1px;
}
.filter-btn.active{
  background: #764af9;
}
.categories-item{
  display: none;
}
.btn-3 i{
  font-size: 18px;
}
.counter-item p{
  font-size:18px;
}
.counter-item h3{
  font-size:42px;
  color:#fff;
}
.counter-item{
  border-right: 2px solid #FFFFFF1A;
  padding-right:7%;
}
.counter-item:last-child{
  padding-right:0;
  border: none;
}
/* Start particle effect css */
.particle {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px white;
  opacity: 0.6;
  animation: floatUp linear infinite;
}
.overflow {
  overflow: hidden;
}
@keyframes floatUp {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-350px) translateX(40px);
    opacity: 0;
  }
}
/* end particle effect css */

/* button animation css start */
.outside {
  display: flex;
  align-items: center;
}

.out {
  position: relative;
  padding: 4px;
  border-radius: 0.5rem;
  /* background-color: #1a1135; */
  overflow: hidden;
}
.glow {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background: radial-gradient(#764af9, #764af9);
  transform: rotate(45deg);
  animation: move 5s linear infinite;
  backdrop-filter: blur(3px);
  offset-path: rect(0% auto 100% auto);
}
@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
.inner {
  position: relative;
  z-index: 10;
  background-color: #1a1135;
  border-radius: 10px;
  padding: 0px;
  display: inline-block;
}

/* button animation css end */
/* Start ellipse code */
.section-shape,
.section-shape-rounded,
.section-shape-circle,.section-shape-circle-2 {
  position: relative;
}
.section-shape:after {
  content: "";
  position: absolute;
  top: -15%;
  left: 0;
  right: 0;
  z-index: -2;
  margin: 0 auto;
  height: 100%;
  width: 95%;
  background-image: url("../images/shape/4.png");
  background-size: 100% auto;
  opacity: 0.8;
  background-repeat: no-repeat;
}
.section-shape-rounded:after {
  content: "";
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  height: 655px;
  margin: auto;
  z-index: -2;
  max-width: 1206px;
  width: 100%;
  background-image: url("../images/shape/6.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.core-values-section.section-shape-rounded:after{
  top:-40%;
}
.section-shape-circle:before {
  content: "";
  position: absolute;
  top: -15%;
  right: 0%;
  height: 60%;
  z-index: -2;
  opacity: 0.6;
  width: 30%;
  background-image: url("../images/shape/7.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.section-shape-circle-2:before {
  content: "";
  position: absolute;
  top: -15%;
  left: 0%;
  height: 100%;
  z-index: -2;
  opacity: 0.6;
  width: 30%;
  background-image: url("../images/shape/10.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.dotted-shape:after,.dotted-shape:before {
  content: "";
  position: absolute;
  top: -12%;
  right: 0%;
  height: 100%;
  z-index: -2;
  opacity: 0.6;
  width: 40%;
  background-image: url("../images/shape/11.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.dotted-shape:before{
  right:inherit;
  left: 0%;
}
.ellipse {
  position: absolute;
  background: #764af9;
  filter: blur(125px);
  width: 300px;
  height: 600px;
}
.ellipse-1 {
  opacity: 0.3;
  left: -5%;
  top: 30%;
}
.ellipse-sm {
  position: absolute;
  background: #764af9;
  filter: blur(125px);
  height: 175px;
  width: 234px;
  opacity: 0.6;
  border-radius: 50%;
}
.ellipse-2 {
  left: 5%;
  top: 0%;
}
.ellipse-3 {
  right: 5%;
  top: 0%;
  opacity: 0.5;
}
.ellipse-4 {
  right: 0%;
  top:50%;
  opacity: 0.2;
}
.ellipse-5 {
  right: 0%;
  top:30%;
  opacity: 0.2;
}
.ellipse-6 {
  left: 0%;
  top:0%;
  opacity: 0.2;
}
.ellipse-7 {
  right: 0;
  opacity: 0.2;
  top: 10%;
}
.ellipse-8{
  left: 0;
  opacity: 0.2;
  top: 20%;
}
.ellipse-9{
  left: 0;
  opacity: 0.7;
  top: 20%;
}
.ellipse-10{
  right: 0;
  opacity: 0.7;
  top: 20%;
}
.ellipse-11{
  right: 0;
  opacity: 0.2;
  bottom:-25%;
}
.ellipse-12{
  right: 0;
  opacity: 0.2;
  bottom:4%;
}
.ellipse-13{
  right: 0;
  opacity: 0.2;
  top:55%;
}
.ellipse-14{
  left: 0;
  opacity: 0.2;
  top:10%;
}
.ellipse-15{
  right: 0;
  opacity: 0.2;
  bottom:0%;
}
.ellipse-16{
  left: 0;
  opacity: 0.2;
  top:15%;
}
.ellipse-17{
  right: 0;
  opacity: 0.2;
  top:5%;
}
/* End ellipse code */
/* Start About Page */
.pagination-section {
  position: relative;
  background-image: url("../images/bg/bg-5.webp");
  background-position: bottom center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 183px;
  padding-bottom: 100px;
}
/* .pagination-section:after{
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height:100px;
  bottom: -50px;
  width: 50%;
  opacity: 1;
  background-color: #764AF9;
  filter: blur(100px);
  border-radius: 50%;
 } */
.breadcrumbs ul li a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.bg-transparent {
  background-image: none;
}

.choose-accordion .accordion-button {
  font-weight: 500;
  font-size: 22px;
  background-color: transparent;
  color: #fff !important;
  padding: 12px 30px;
  line-height:38px;
}
.choose-accordion .accordion-item {
  background: #ffffff08;
  padding: 16px 20px;
  padding: 0;
  border: none;
  border-radius: 10px;
  border: 1px solid #2d1c5b !important;
}

.choose-accordion .accordion-header {
  margin: 0;
}
.choose-accordion .accordion-button:not(.collapsed) {
  color: #fff;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: -1px -4px 20px 0px #764af9b2 inset;
}
.choose-accordion button:focus:not(:focus-visible) {
  color: inherit !important;
  color: #fff !important;
  box-shadow: -1px -4px 20px 0px #764af9b2 inset !important;
}
.choose-accordion .accordion-button::after {
  filter: brightness(0) invert(1);
}
.team-content h4 {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 5px;
}
.team-content p {
  color: #ffffffb2;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 18px;
} 

/* End About Page */
/* Smooth transition for images */
 
.tabcontent img {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
/* Show image smoothly when tab becomes active */
.tabcontent.active img {
  opacity: 1;
  transform: scale(1);
}
/* Active button effect */
.operation-btn {
  cursor: pointer;
}
.operation-btn h4,
.operation-btn p {
  color: #ffffff33;
  font-weight: 500;
  font-size: 28px;
}
.operation-btn.active h4,
.operation-btn.active p {
  color: white;
  transform: scale(1);
}
/* Smooth fade transition for tab content */
.tabcontent {
  display: none;
  max-width: 430px;
  opacity: 0;
  width: 100%;
  margin: 0 auto;
  transition: opacity 0.5s ease-in-out;
}

/* Show tab content with fade effect */
.tabcontent.active {
  display: block;
  opacity: 1;
}
.team-social-menu {
  position: absolute;
  right: 20px;
  top: 20px;
}
.team-social-menu ul li a {
  background: #764af9;
}
.team-section {
  padding-bottom: 310px;
  margin-top: 150px;
}
.team-social-menu ul li a:hover {
  background: #211446;
}
.team-section:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80%;
  width: 100%;
  background-image: url("../images/bg/bg-6.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60% 100%;
  z-index: -2;
}
.cta-area {
  padding: 100px 0;
  background-image: url("../images/bg/bg-7.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
 
.cta-section .common-heading {
  max-width: 805px;
  width: 100%;
  margin: 0 auto;
}
.ptb-120{
  padding:120px 0;
}
.motion-shadow {
  position: relative;
}
@keyframes floatRotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) translateY(0px);
  }
  25% {
    transform: rotateX(20deg) rotateY(15deg) translateY(-20px);
  }
  50% {
    transform: rotateX(40deg) rotateY(0deg) translateY(0px);
  }
  75% {
    transform: rotateX(20deg) rotateY(-12deg) translateY(20px);
  }
  100% {
    transform: rotateX(0deg) rotateY(10deg) translateY(0px);
  }
}
.motion-shadow::after {
  animation: floatRotate 6s ease-in-out infinite;
  transform-style: preserve-3d;
  will-change: transform;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -2;
  max-height: 503px;
  margin: 0 auto;
  max-width: 593px;
  height: 100%;
  width: 100%;
  background-image: url("../images/shape/8.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: -50%;
}
.mt-70 {
  margin-top: 70px;
}
.mt-120 {
  margin-top: 120px;
}
.policy-section ul li{
  color:#fff;
}
/* .simplebar-scrollbar::before {
  background-color: #774CF9;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.simplebar-scrollbar:hover::before {
  background-color: #774CF9;
} */
 
/* service section */
.service-item-content{
  text-align: center;
}
.service-item{
  text-align: center;
}
.service-item h6{
  font-weight:28;
  color:#fff;
  font-weight: 700;
}
.service-item h4{
  font-weight: 499;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color:#fff;
}
.service-item p{
  font-size:16px;
  line-height:26px;
  color:#fff;
}
.service-item-content ul li{
  color:#fff;
  font-size:22px;
  line-height: 32px;
}
/* project info */
.custom-table{
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #696868;
}
.custom-table table tr td{
  color:#fff;
  padding: 15px;
  border-bottom:1px solid #161414;
}
.custom-table table tr:last-child td{
  border: none;
}
.custom-table table tr th{
  color:#fff;
  font-weight: 600;
  background-color:#1a1135;
  padding: 22px;
}
.emerging-technology-slider .slick-slide {
  margin: 0 10px; /* Horizontal gap between slides */
}

.emerging-technology-slider {
  margin: 0 -10px; /* Negative margin to offset the added slide margins */
}
.emerging-technology-slider .card-1 .view-details-technology{
  display: none;
}
.emerging-technology-slider .slick-track,.awards-recognitions-slider .slick-track{
  display: flex;
  align-items: center;
}
.emerging-technology-slider .slick-slide {
  opacity: 0.4;
  transition: transform 0.6s ease;
  transform: scale(0.9); /* smaller for all by default */
}
.emerging-technology-slider .slick-slide.slick-center {
  transform: scale(1); /* larger for current */
  opacity: 1;
  z-index: 2;
}
.emerging-technology-slider .slick-slide.slick-center  .view-details-technology,.emerging-technology-slider .slick-slide.slick-center  .hover-show{
  display: block;
}
.slider-btn i{
  color:#fff;
  font-size:20px;
}
.slider-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF33;
  padding: 10px;
  height: 56px;
  width: 56px;
  border-radius: 5px;
  cursor: pointer;
  background: #764AF9;
  transition: 0.5s;
}
.slider-btn:hover,.slider-btn-low-opacity{
  backdrop-filter: blur(30px);
  background: #FFFFFF08;
  box-shadow: -4px -6px 20px 0px #764AF9B2 inset;
}
.emerging-technology-slider .project-thumbnails{
  background: #764AF90D;
  padding: -30px;
}
.emerging-technology-slider .project-thumbnails img{
  max-width:256px !important;
  margin: auto;
}
.shape-top-bg{
  position: relative;
}
.shape-top-bg::before{
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url('../images/shape/9.webp');
  height:100%;
  width: 100%;
  background-size:85% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  top: -72%;
  z-index: -2;
}
.pt-150{
  padding-top: 140px;
}
.pt-120{
  padding-top: 120px;
}
.awards-recognitions-slider .project-card-cover .project-thumbnails img{
  width:150px;
  margin: auto;
}
.awards-recognitions-slider .project-card-cover .project-content h4{
  font-size:16px;
}
.awards-recognitions-slider .project-card-cover .project-content p{
  font-size:12px;
}
.awards-recognitions-slider .slick-slide.slick-current .project-thumbnails img{
  width:200px;
}
.awards-recognitions-slider .slick-slide {
  transition: transform 0.6s ease;
  opacity:0.4;
  transform: scale(0.9); /* smaller for all by default */
}
.awards-recognitions-slider .slick-slide.slick-current {
  transform: scale(1); /* larger for current */
  opacity: 1;
  z-index: 2;
}
.awards-recognitions-slider .slick-slide.slick-current .project-content h4{
 font-size:24px;
}
.awards-recognitions-slider .slick-slide.slick-current .project-content p{
 font-size:18px;
}
.blog-thumbnails-sm img{
  height: auto;
  max-width:220px;
}
.dotted-shape-right{
  position: absolute;
  top: -50%;
  z-index: -2;
  right: 0%;
}
.dotted-shape-left{
  position: absolute;
  top: -50%;
  z-index: -2;
  left: 0%;
}
/* working process start */
.process-center-box{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  backdrop-filter: blur(30px);
  background: #FFFFFF08;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border: 1.5px solid #FFFFFF33;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: -4px -6px 20px 0px #764AF9B2 inset;
  overflow: hidden;
}
.process-center-box h4{
  text-align: center;
  line-height:42px;
  color:#fff;
  font-size:38px;
  font-weight: 700;
}
.process-item-card h4{
  color: #FFFFFF17;
  font-size:80px;
  font-weight: 700;
}
.process-item-card h5{
  margin-bottom:8px;
  font-weight:500;
  font-size:22px;
  color:#fff;
}
.process-item-card p{
  font-size: 16px;
  line-height:24px;
  color:#FFFFFFCC;
}
.process-item-card {
  max-width: 265px;
}
.process-item-card {
  position: absolute;
}
.process-item-card-1{
  left: 0px;
  top: -92px;
}
.process-item-card-2{
  right:-60px;
  top: -72px;
}
.process-item-card-3{
  right:-200px;
  top:50%;
  transform: translateY(-50%);
}
.process-item-card-4{
  right:-110px;
  bottom:-20px;
}
.process-item-card-5{
  left:-90px;
  bottom:-60px;
}
.process-item-card-6{
  left:-240px;
  top:50%;
  transform: translateY(-50%);
}
.working-process-container{
  margin-top: 90px;
}
/* .working-process-section:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 11%;
  width: 46.5%;
  height: 3px;
  z-index: -2;
  background: #6641d7;
} */
/* working process end */
/* water animation start */
.ripple-one {
  position: absolute;
  top: 60%;
  width: 525px;
  height: 525px;
  border-radius: 45%;
  transform-origin: 50% 48%;
  animation: water 5s infinite linear;
  background:rgba(118, 74, 249, 0.7);
  
  transform: translate3d(0, 0, 0);
  z-index: -2;
}

.ripple-two {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 42%;
  top: 70%;
  transform-origin: 50% 48%;
  animation: water 4s infinite linear;
  background:rgba(118, 74, 249, 0.4);
  z-index: -2;
}

.ripple-three {
  position: absolute;
  top: 75%;
  width: 650px;
  height: 650px;
  border-radius: 45%;
  transform-origin: 50% 48%;
  animation: water 6s infinite linear;
  background:rgba(118, 74, 249, 0.2);
  z-index: -2;
}
@keyframes water {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes spacing {
  0% {	letter-spacing: 0.7em; margin-left: 0.7em; }
  100% { letter-spacing: 1em; margin-left: 1em;}
}
/* water animation end */
/* Loop slider start */
.loop-slider .loop-inner {
  display: flex;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}
.loop-slider{
  width:100%;
  overflow: hidden;
}
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.loop-slider:hover .loop-inner {
  animation-play-state: paused;
}
.highlights-options ul li{
  font-weight:500;
  font-size:22px;
}
.g-12{
  gap: 12px;
}
 .highlights-sm-icon{
  position: absolute !important;
 }
.highlights-sm-icon-1{
  left:60px;
  top: 30px;
}
.highlights-sm-icon-2{
  right:10%;
  top: 60px;
}
.highlights-sm-icon-3{
  right:5%;
  transform: translateY(-50%);
  top: 50%;
}
.highlights-sm-icon-4{
  left:15%;
  bottom:20px;
}
/* Start table code */
table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}
table tr th,
table tr td {
  border-right: 1px solid #FFFFFF1A;
  border-bottom: 1px solid #FFFFFF1A;
  padding: 12px 30px !important;
  color:#fff !important;
  font-size:22px;
  font-weight:500;
}
table tr td {
 color:#ffffffcc !important;
 font-size:20px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #FFFFFF1A;
}
.table>:not(caption)>*>*{
  background: transparent;
}
table tr th {
  background: #0f0920 !important;
  border-top: 1px solid #FFFFFF1A;
  text-align: left;
}
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
/* end table code */

.key-features-item{
  border-bottom: 1.5px solid #FFFFFF1A;
  padding-bottom: 10px;
}
.key-features-item p{
  color:#FFFFFFCC;
}
.key-features-item h5{
  margin-bottom: 8px;
  font-weight:500;
  color:#fff;
  font-size:24px;
}
.key-features-item:last-child{
  border: none;
}
.features-key-section{
  margin-top: 80px;
}
.blog-card-2 .blog-info-header ul li p{
  font-size:14px;
}
.blog-card-2 .badge-label-sm{
  padding: 4px 12px;
  font-size: 14px;
}
.blog-card-2 .common-heading p{
  font-size:16px;
}
.blog-card-2 .common-heading h3{
  font-size:22px;
  line-height: 30px;
}
.title{
  font-size:28px;
  font-weight:500;
  color:#fff;
}
 .blog-info p{
  color:#FFFFFFCC;
  letter-spacing:1px;
 }
 .blog-info ul li{
  color: #FFFFFFCC;
 }
 .profile-card img{
  width:55px;
 }
 .profile-card{
  font-size:24px;
  font-weight: 500;
  color:#fff;
 }
 .comment-header{
  border-bottom: 1px solid #FFFFFF1A ;
  padding-bottom: 20px;
 }
 .comment-body{
  padding: 20px 0;
 }
 .circle-card{
  border: 1px solid #764AF966;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 44px;
  width:44px;
  background: #764AF91A;
  transition: 0.5s;
 }
 .circle-card:hover{
  background: #5e41b6b0;
 }
 .circle-card:hover i{
  color:#fff;
 }
 .circle-card i{
  color: #764AF9;
 }
 .rotate-90{
  transform: rotate(180deg);
 }
 .pagination-list li span{
  padding: 15px;
  font-weight: 500;
  cursor: pointer;
  font-size:20px;
  border-radius: 10px;
  min-width:60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  background: #FFFFFF08;
  border: 1.5px solid #FFFFFF33;
  backdrop-filter: blur(30px);
  box-shadow: -4px -6px 20px 0px #764AF9B2 inset;
 }
 .pagination-list li span:hover, .pagination-list li span.active{
  background: #764af9;
 }
 
.setting-shape{
  position: absolute;
  top:25%;
  z-index: -2;
  opacity: 0.8;
  right: 10%;
}
.blog-info ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: inherit;
  margin-left:30px;
}
.service-item-list{
  padding-left: 30px;
  list-style-type: disc;
}
.maintenance-thumbnails{
  text-align: center;
}
.maintenance-thumbnails img{
  width: 50%;
}