@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.tab {
  padding: 10px 26px;
  background: #1e1e3f;
  border-radius: 8px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  gap: 14px;
  display: flex;
  position: relative;
  align-items: center;
  transition: 0.3s;
  backdrop-filter: blur(30px);
  box-shadow: -4px -6px 20px 0px #764af9b2 inset;
}
.tab img {
  width: 25px;
}
.tab:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  background-image: url("../images/shape/1.png");
  height: 28px;
  width: 60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.tab.active {
  background: #764af9;
}
.code-container {
  background-color: #15212d;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 1.6;
  white-space: pre-wrap;
  min-height: 450px;
  font-family: "Fira Code", monospace;
}
.comment {
  color: #6a9955;
}
.keyword {
  color: #c586c0;
}
.string {
  color: #dcdcaa;
}
.type {
  color: #4ec9b0;
}
.func {
  color: #569cd6;
}
.property {
  color: #9cdcfe;
}
.white {
  color: white;
}

.line {
  margin-bottom: 4px;
}

.word {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
